$brand-warning: #f8ad47;
$brand-warning-darken: darken($brand-warning, 25%);
$brand-danger: #ff3956;
$brand-danger-darken: darken($brand-danger, 25%);
$brand-danger-lighten: lighten($brand-danger, 25%);
$brand-primary: #53ccd7;
