@font-face {
	font-family: "jf flat";
	src: url(../fonts/JF-Flat-regular.eot);
	src: url(../fonts/JF-Flat-regular.eot?#iefix) format("embedded-opentype"),
		url("../fonts/JF-Flat-regular.svg#JF Flat Regular") format("svg"),
		url(../fonts/JF-Flat-regular.woff) format("woff"),
		url(../fonts/JF-Flat-regular.ttf) format("truetype");
	font-weight: bolder;
	font-style: normal;
}

body {
	font-family: "jf flat", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #000;
}

/* بداية تنسيقات القائمة العلوية */

.custom-navbar {
	border-bottom: 3px solid #efefef;
	width: 100%;
	background-color: #fff;
	padding: 15px 0;
}

.custom-choose-btn-2 {
	border-right: 0 !important;
	border-radius: 0 !important;
}
.custom-choose-menu {
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 #ebebeb;
	color: #777;
}
.nav-link {
	color: #555;
	font-size: 14px;
	padding: 15px;
}
.custom-navbar .navbar-nav li.active a.nav-link {
	color: #ff5a5f;
	font-weight: 700;
	border-bottom: 1px solid #ff5a5f;
}
.custom-navbar .navbar-nav li:hover a.nav-link {
	background-color: #e7e7e7;
}
.custom-categories-menu li a:hover {
	background-color: #ffe7ea;
}
a.cart-btn {
	color: #777;
	border: 1px solid #ddd;
	background-color: transparent;
	border-radius: 2px;
	font-size: 14px;
	margin-right: 15px;
}
/* نهاية تنسيقات القائمة العلوية */
/* -------------------------------------------------------------------- */
/* بداية تنسيقات الصفحة الرئيسية */

#carousel-featured {
	background-color: #f7fbf3;
	height: 400px;
	padding-top: 25px;
}
#carousel-featured .carousel-item img {
	height: 375px;
}
#carousel-featured .product-details {
	border: 1px solid #dddddb;
	padding: 20px;
	position: relative;
	top: 50px;
	height: 200px;
	background-color: #f7f8f3;
}
#carousel-featured .product-details .product-category {
	border: 1px solid #dddddb;
	padding: 10px;
	position: absolute;
	top: -15px;
	right: -15px;
	background-color: #f7f8f3;
}
#carousel-featured .product-details h1 {
	font-weight: 700;
	font-size: 175%;
	margin-top: 18px;
}

.sell {
	background-color: #53ccd7;
	color: #fff;
	font-weight: bold;
	position: absolute;
}
.sell.large {
	font-size: 130%;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	left: -15px;
	top: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px;
	line-height: 90%;
	flex-direction: column;
	transform: rotate(-25deg);
}
.custom-indicators {
	right: 45%;
	bottom: 80px;
}
img.custom-img-indicators {
	height: 50px !important;
	width: 50px !important;
	opacity: 1 !important;
	border: 2px solid #dddddb !important;
	margin: 0 !important;
	margin-left: 5px !important;
}
img.custom-img-indicators.active {
	border-color: #f8ad47 !important;
}
#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left {
	color: #868686;
	font-size: 38px;
}
#store-features {
	box-shadow: 0 0 15px #eef0ea;
	background-image: url(../images/bg_features.png);
	background-repeat: no-repeat;
	position: relative;
	top: -20px;
	background-size: auto 60%;
	background-color: #fff;
	padding-bottom: 35px;
	padding-top: 25px;
	background-position: -10px -20px;
}
#store-features .feature img {
	height: 30px;
	margin-bottom: 10px;
}
#store-features .feature + .feature {
	border-right: 1px solid #eef0ea;
}
.heading {
	font-size: 24px;
	margin-bottom: 25px;
}
.price {
	color: #53ccd7;
}
.rating {
	color: #c2c2c2;
}
.rating > .active {
	color: #f3af41;
}

.overlay {
	position: absolute;
	background-color: rgba(83, 204, 215, 0.5);
	height: 250px;
	width: calc(100% - 16px);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.5s ease;
}
.overlay:hover {
	opacity: 1;
}

.custom-indicators-bestSeller {
	bottom: -5px !important;
}
.custom-indicators-bestSeller > li {
	width: 13px !important;
	height: 13px !important;
	margin: 2px !important;
	background-color: #dbdbdb !important;
}
.custom-indicators-bestSeller > li.active {
	background-color: #565656 !important;
}
.swal2-styled.swal2-confirm {
	background-color: #53ccd7 !important;
}
.swal2-styled.swal2-confirm:focus {
	box-shadow: none !important;
}

.panel {
	border: 4px solid #eef0ea;
	border-radius: 2px;
	padding: 20px;
}
.panel h4,
.panel .price {
	font-size: 140%;
	margin-bottom: 15px;
	margin-top: 0;
}
.custom-text {
	color: #a9a9a9;
}
.brand-btns {
	background-color: #fff;
	color: #868686;
	border: 1px solid #868686;
	border-radius: 2px;
	padding: 5px 10px;
	font-size: 12px;
}
#row-brands h3.heading {
	border-top: 2px solid #eef0ea;
	padding-top: 25px;
}
#brands-logos {
	background-color: #dbeefa;
	padding: 25px 0;
	color: #555555;
}
#brands-logos img {
	margin-left: 25px;
	margin-right: 25px;
	max-width: 100px;
	max-height: 100px;
}
#footerNav {
	background-color: #1f1e1e;
	padding: 50px 0 40px;
	background-image: url(../images/bg_footer_1.png),
		url(../images/bg_footer_2.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 110 0, -10% -150%;
}
#footerNav .footer-nav-links {
	margin: 30px 0;
}
#footerNav .footer-nav-links a {
	color: #555555;
	margin-left: 30px;
	font-weight: bold;
	text-decoration: none !important;
	transition: all 0.5s ease;
}
#footerNav .footer-nav-links a:hover {
	color: #fff;
}
.newsletter {
	border-top: 1px solid #292929;
}
.newsletter form {
	max-width: 290px;
}
.newsletter form label {
	margin: 27px 0 16px;
	font-size: 12px;
	font-weight: bold;
	color: #555555;
}
.newsletter form input {
	background-color: #313131;
	opacity: 0.6;
	border: none;
	height: 38px;
}
.newsletter form button {
	border-radius: 3px 0 0 3px !important;
	font-size: 14px;
	padding: 6px 12px 5px;
	color: inherit;
	height: 38px;
}
.invalid-feedback {
	margin-right: 0;
	width: auto;
}
#footer-copyright-social {
	background-color: #151515;
	color: #555555;
	padding: 30px 0;
	font-weight: 700;
}
#footer-copyright-social a {
	color: #555555;
	margin: 0 5px;
	text-decoration: none;
	transition: all 0.5s ease;
}
#footer-copyright-social a:hover {
	color: #fff;
}
.bars-btn:active,
.bars-btn:focus {
	outline: 1px solid #ff5a5f !important;
	box-shadow: none !important;
	border: 0;
	color: #ff5a5f;
}
/* -------------------------------------------- product page -------------------------------------------- */

.custom-breadcrumb {
	padding: 25px 0;
}
.custom-breadcrumb a {
	color: #555;
	text-decoration: none;
}
.custom-breadcrumb a:hover {
	color: #f8ad47;
}
.custom-breadcrumb li::before {
	color: #f8ad47 !important;
}
.custom-breadcrumb .active {
	color: #bfbfbf;
}
#product-carousel .carousel-indicators {
	position: absolute;
	top: 95%;
	right: 0;
}
#product-carousel .carousel-item img {
	width: 100%;
	height: auto;
	border: 1px solid #ebebeb;
}
.product-category {
	color: #a9a9a9;
}
#form-product h2 {
	font-weight: 700;
	margin: 18px 0;
}
.price.large {
	font-size: 30px;
	margin-top: 15px;
}
.borders-between > div + div {
	border-top: 2px solid #ebebeb;
	padding: 15px 0;
}
.product-option {
	display: inline-flex;
	height: 25px;
	width: 25px;
	border: 2px solid #ebebeb;
	justify-content: center;
	align-items: center;
	color: #c2c2c2;
	margin: 5px;
	font-weight: 700;
	font-size: 12px;
	cursor: pointer;
}
.product-option:first-of-type {
	margin-right: 0;
}
.product-option label {
	cursor: pointer;
}
.product-option input {
	display: none;
}
.product-option.active {
	color: #f8ad47;
	border-color: #f8ad47;
}
.color-option.active {
	border-color: #fff;
	outline: 1px solid #000;
}
.product-quantity select {
	height: 34px !important;
	padding: 4px 12px;
	margin-right: 5px;
}
.custom-btn-with-icon {
	margin: 15px 0;
	font-size: 18px;
	padding: 5px 10px;
}
.heading-border {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 15px;
}
.heading-inline {
	display: inline-block;
	min-width: 250px;
}
.more-description p,
.more-description ul {
	margin-bottom: 10px;
}
.comments .comment img {
	width: 80px;
	height: 80px;
	margin-left: 10px;
	border: 1px solid #dfdfdf;
}
.comments .comment h4 {
	font-size: 18px;
	margin-bottom: 5px;
}

/* -------------------------------------------- checkout page -------------------------------------------- */
.custom-media img {
	width: 80px;
	height: 80px;
	border: 1px solid #ebebeb;
	margin-left: 10px;
}

.custom-heading {
	font-size: 36px;
	margin-bottom: 25px;
}

#total-productions-price {
	color: #000;
}

/* -------------------------------------------- payment page -------------------------------------------- */
#form-checkout .custom-input:hover,
#form-checkout .custom-input:focus {
	outline-color: transparent;
	box-shadow: none;
	border-color: #ff5a5f;
}
.custom-input-details {
	border-width: 2px;
	border-radius: 3px;
	height: 46px !important;
	padding: 0 16px;
	font-size: 18px;
	width: 98%;
}

/* -------------------------------------------- search page -------------------------------------------- */
#form-advanced-search {
	border: 1px solid #ebebeb;
	padding-bottom: 20px;
	margin-bottom: 35px;
	height: fit-content;
}
#form-advanced-search .panel {
	border: none;
	padding: 5px;
}
#form-advanced-search label {
	font-weight: bold;
	cursor: pointer;
}
#search-result .custom-card {
	margin-bottom: 50px !important;
}
.panel .card-header {
	background-color: transparent;
	margin-bottom: 15px;
	padding-bottom: 13px;
}
.custom-list-group {
	border-bottom: 1px solid #ebebeb;
	user-select: none;
}
.custom-list-group .list-group-item {
	border: none;
}
.custom-pagination .page-link {
	margin: auto 3px !important;
	border: 1px solid #ebebeb !important;
	width: 32px !important;
	height: 32px !important;
	color: #c2c2c2 !important;
	text-decoration: none !important;
	outline: none !important;
	transition: all 0.3s ease !important;
	padding-top: 3px !important;
}
.custom-pagination .page-item.active .page-link {
	background-color: #f8ad47 !important;
	color: #fff !important;
	border-color: #f8ad47 !important;
}
.custom-pagination .page-link:active,
.custom-pagination .page-link:focus,
.custom-pagination .page-link:hover {
	color: #f8ad47 !important;
	background-color: #fff !important;
	border-color: #f8ad47 !important;
}
/* -------------------------------------------- contact page -------------------------------------------- */
.map-position {
	padding: 0 !important;
}
#form-subscription {
	margin-bottom: 25px;
}
.contact-ways input[name="name"] {
	margin-bottom: 15px;
}
.contact-message {
	height: auto !important;
}
.contact-info .custom-contact-icon {
	color: #f8ad47;
	margin-left: 3px;
}
.contact-info div {
	margin-bottom: 5px;
}

/* ------------------------------------------------------------------------------------------------------ */

@media (max-width: 1399px) {
}

/* ------------------------------------------ */

@media (max-width: 1199px) {
	.nav-link {
		font-size: 13px;
		padding: 7px;
	}
}

/* ------------------------------------------ */

@media (max-width: 991px) {
	.custom-navbar {
		padding: 15px 30px 30px;
	}
	.custom-navbar .container {
		max-width: 100%;
	}
	.navbar-header {
		display: block;
		width: 100%;
		margin-bottom: 22px;
	}
	.navbar-header .bars-btn {
		float: left;
		border-radius: 5px;
	}
	.inline-form {
		width: 100%;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 10px 0;
	}
	.inline-form .dropdown {
		display: none;
	}
	.inline-form .custom-search-field {
		width: 90%;
	}
	.inline-form .search-btn {
		width: 10%;
	}
	a.nav-link {
		margin-bottom: 5px;
	}
	.carousel-indicators {
		margin-right: 4%;
	}
	.overlay {
		display: none;
	}
	.add-cart-btn {
		color: #868686;
		border-color: #868686;
		margin: 10px auto 0;
		font-weight: 400;
	}
	#row-brands .carousel-inner img {
		width: 200px !important;
		height: auto !important;
	}
	#copyright,
	#social-icons {
		width: 100%;
		text-align: center;
	}
	#social-icons {
		font-size: 150%;
		margin-top: 15px;
	}
	.product-img-margin {
		margin-bottom: 70px;
	}
	.product-option {
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin: 10px;
		font-size: 20px;
	}
	#product-carousel .carousel-indicators {
		right: 10%;
	}
	.search-pagination {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* ------------------------------------------ */

@media (max-width: 767px) {
	#carousel-featured {
		padding-bottom: 25px;
	}
	#carousel-featured,
	#carousel-featured .product-details {
		height: auto;
	}
	#carousel-featured .product-details {
		top: -2px;
		text-align: center;
	}
	#carousel-featured .carousel-item img {
		height: 250px;
	}
	#carousel-most-sold-alt button {
		margin-bottom: 25px;
	}
	#brands-logos img {
		max-width: 50px;
		max-height: 50px;
		margin: 5px 24px 5px 23px;
	}
	.footer-logo {
		margin-bottom: 30px;
	}
	.newsletter form {
		max-width: 100%;
		width: 100%;
		padding: 0 20px;
	}
	#product-carousel .carousel-indicators {
		right: 10%;
	}
	#form-product,
	.comments {
		padding-right: 15px;
	}
	.hide-in-small {
		display: none;
	}
}

/* ------------------------------------------ */

@media (max-width: 575px) {
	.inline-form .custom-search-field {
		width: 80%;
	}
	.inline-form .search-btn {
		width: 20%;
	}
	#carousel-featured .product-details .product-category {
		right: -10px;
	}
	.sell.large {
		left: -10px;
		top: -26px;
	}
	#carousel-featured .product-details h1 {
		font-size: 165%;
	}
	.carousel-control-next,
	.carousel-control-prev {
		top: -35px;
	}
	.feature h6 {
		font-size: 90%;
	}
	#brands-logos img {
		margin: 5px 15px;
	}
	.custom-table h4 {
		font-size: 14px;
	}
	.small-text {
		font-size: 11px;
	}
	.breadcrumb-item {
		font-size: 12px;
	}
}
